## Importando Bibliotecas iniciais

In [1]:
# lib para conexão
import requests

# Modelagem de dados
import pandas as pd

# Ignorando avisos
import warnings
warnings.filterwarnings('ignore')

## Se conectando ao Mongodb Atlas para "ter acesso a coleção do cliente"

In [2]:
!pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.1.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 5.2 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [3]:
import datetime
import pymongo
from pymongo import MongoClient

In [4]:
# uri (uniform resource identifier) definindo parametros de conexão 
uri = 'mongodb+srv://1bruno2yaporandy:proj1individual2bruno3yaporandy@cluster0.3jmog.mongodb.net/?retryWrites=true&w=majority'
# iniciando a conexão com o servidor MongoDB 
client = MongoClient( uri )

In [5]:
#Checando o Status da Conexão
client.stats

Database(MongoClient(host=['cluster0-shard-00-02.3jmog.mongodb.net:27017', 'cluster0-shard-00-00.3jmog.mongodb.net:27017', 'cluster0-shard-00-01.3jmog.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-i8zzun-shard-0', tls=True), 'stats')

In [6]:
# Verificar o nome das database existentes no servidor
client.list_database_names()

['ProjetoIndividual', 'admin', 'local']

In [7]:
# Criando a data base
db = client["ProjetoIndividual"]

#Criando a coleção
collection = db["projetoindividualoriginal"]

In [8]:
# Transformando a coleção para DataFrame
df_original_mongodb = pd.DataFrame(collection.find())

## Conectando ao GCP

Conexão com o GCP para enviar o df original para meu Bucket (etapa executada para ter alta disponibilidade do DataFrame)

In [9]:
!pip install gcsfs
from google.cloud import storage
import os

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gcsfs
  Downloading gcsfs-2022.5.0-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Collecting fsspec==2022.5.0
  Downloading fsspec-2022.5.0-py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 7.5 MB/s
Collecting aiohttp<4
  Downloading aiohttp-3.8.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 50.3 MB/s
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (2.0.12)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (21.4.0)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.7.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (271 kB)
     |████████████████████████████████| 271 kB 53.6 MB/s
Collecting asynctest==0.13.0
  Downloading asynctest-0.13.0-py3-none-any.whl (26 kB)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
     |████████████████████████████████| 144 kB 59.9 MB/s
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (94 kB)
     |████████████████████████████████| 94 kB 3.2 MB/s
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (4.2.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2022.5.18.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.31.5)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2022.1)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.56.1)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.9)
Installing collected packages: multidict, frozenlist, yarl, asynctest, async-timeout, aiosignal, fsspec, aiohttp, gcsfs
Successfully installed aiohttp-3.8.1 aiosignal-1.2.0 async-timeout-4.0.2 asynctest-0.13.0 frozenlist-1.3.0 fsspec-2022.5.0 gcsfs-2022.5.0 multidict-6.0.2 yarl-1.7.2

In [10]:
#CONFIGURAÇÃO DA CHAVE DE SEGURANÇA
serviceAccount = '/content/drive/MyDrive/Datasets-Soulcode/brunoy-5fe7c8e739a5.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [11]:
#CÓDIGO QUE ACESSA A BUCKET CRIADA E FAZ O DOWNLOAD DOS ARQUIVOS VIA PANDAS
client = storage.Client()

#CRIAR UMA VARIÁVEL CHAMADA BUCKET QUE VAI RECEBER O NOME DA BUCKET DO CLOUD STORAGE
bucket = client.get_bucket('brunotestesoulcode')

## Exportando a coleção (original) para um csv no Bucket (Google Storage)

In [12]:
#df_original_mongodb.to_csv('gs://brunotestesoulcode/Original/df-original-proj-individual.csv')

## Importando a coleção (original) do Bucket para inicar a etapa de tratamento

In [13]:
df_original = pd.read_csv('https://storage.googleapis.com/brunotestesoulcode/Original/df-original-proj-individual.csv', sep=',')

In [14]:
#Criando um backup para ser trabalhado
df = df_original.copy()

## Pré-analise do DataFrame

Compreendendo o formato do DataFrame:

In [15]:
df.head()

,Unnamed: 0,_id,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,0,6290d26136468da6d8cce20a,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,...,7,0,0,0,0,0,0,3,11,1
1,1,6290d26136468da6d8cce20b,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,...,5,0,0,0,0,0,0,3,11,0
2,2,6290d26136468da6d8cce20c,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,...,4,0,0,0,0,0,0,3,11,0
3,3,6290d26136468da6d8cce20d,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,...,6,0,0,0,0,0,0,3,11,0
4,4,6290d26136468da6d8cce20e,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,...,5,0,0,0,0,0,0,3,11,0

In [16]:
df.shape

(2240, 31)

In [17]:
df.dtypes

Unnamed: 0               int64
_id                     object
ID                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
AcceptedCmp3             int64
AcceptedCmp4             int64
AcceptedCmp5             int64
AcceptedCmp1             int64
AcceptedCmp2             int64
Complain                 int64
Z_CostContact            int64
Z_Revenue                int64
Response                 int64
dtype: object

Procurando por dados em branco/nulos

In [18]:
df.isna().sum()

Unnamed: 0              0
_id                     0
ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

Procurando por dados duplicados:

In [19]:
df.duplicated().sum()

0

## Drops necessarios

Remover a coluna: 'Unnamed: 0' Por ser apenas um novo índice de valor único criado durante a transformação em DataFrame (Já existe uma coluna chamada "ID" para essa finalidade)

In [20]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

Remover a coluna '_id' por ser um índice de valor único criado automaticamente pelo mongodb, porém após o tratamento do DataFrame, quando for carregado de volta para o banco do cliente, será criado uma nova coluna _id, então apagarei essa (já que existe a coluna ID e futuramente outra _id)

In [21]:
df.drop(['_id'], axis=1, inplace=True)

Remover a coluna 'Z_CostContact' porque durante o processo de tradução, percebi que se tratava de uma coluna com valores fixos (existe apenas o número 3 nela) sendo desnecessario para o propósito do DataFrame.

In [22]:
df.Z_CostContact.describe()

count    2240.0
mean        3.0
std         0.0
min         3.0
25%         3.0
50%         3.0
75%         3.0
max         3.0
Name: Z_CostContact, dtype: float64

In [23]:
df.drop(['Z_CostContact'], axis=1, inplace=True)

Remover a coluna 'Z_Revenue' porque durante o processo de tradução, percebi que se tratava de uma coluna com valores fixos (existe apenas o número 11 nela) sendo desnecessario para o propósito do DataFrame.

In [24]:
df.Z_Revenue.describe()

count    2240.0
mean       11.0
std         0.0
min        11.0
25%        11.0
50%        11.0
75%        11.0
max        11.0
Name: Z_Revenue, dtype: float64

In [25]:
df.drop(['Z_Revenue'], axis=1, inplace=True)

## Tradução do DataSet para Português-BR

Traduzindo o nome das Colunas

In [26]:
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Response'],
      dtype='object')

In [27]:
df.rename(columns=
          {
           'Year_Birth':'Ano_Nascimento',
           'Education':'Escolaridade',
           'Marital_Status':'Estado_Civil',
           'Income':'Renda_Anual',
           'Kidhome':'Qtd_Crianças',
           'Teenhome':'Qtd_Adolescentes',
           'Dt_Customer':'Data_Inscrição_Cliente',
           'Recency':'Dias_Ultima_Compra',
           'MntWines':'Gasto_com_Vinhos', #ultimos 2 anos
           'MntFruits':'Gasto_com_Frutas', #ultimos 2 anos
           'MntMeatProducts':'Gasto_com_Carnes', #ultimos 2 anos
           'MntFishProducts':'Gasto_com_Peixes', #ultimos 2 anos
           'MntSweetProducts':'Gasto_com_Doces', #ultimos 2 anos
           'MntGoldProds':'Gasto_com_Ouro', #ultimos 2 anos
           'NumDealsPurchases':'Num_Compras_Desconto',
           'NumWebPurchases':'Num_Compras_Website',
           'NumCatalogPurchases':'Num_Compras_Catalogo', 
           'NumStorePurchases':'Num_Compras_Loja',
           'NumWebVisitsMonth':'Num_Visitas_Website_Mes',
           'AcceptedCmp3':'Aceitou_Oferta_3a_Campanha', #1 para sim, 0 para não
           'AcceptedCmp4':'Aceitou_Oferta_4a_Campanha', #1 para sim, 0 para não
           'AcceptedCmp5':'Aceitou_Oferta_5a_Campanha', #1 para sim, 0 para não
           'AcceptedCmp1':'Aceitou_Oferta_1a_Campanha', #1 para sim, 0 para não
           'AcceptedCmp2':'Aceitou_Oferta_2a_Campanha', #1 para sim, 0 para não
           'Complain':'Reclamação', #1 para sim, 0 para não
           'Response':'Ultima_Campanha_Resultou' #1 para sim, 0 para não
          }, inplace=True)

In [28]:
df.columns

Index(['ID', 'Ano_Nascimento', 'Escolaridade', 'Estado_Civil', 'Renda_Anual',
       'Qtd_Crianças', 'Qtd_Adolescentes', 'Data_Inscrição_Cliente',
       'Dias_Ultima_Compra', 'Gasto_com_Vinhos', 'Gasto_com_Frutas',
       'Gasto_com_Carnes', 'Gasto_com_Peixes', 'Gasto_com_Doces',
       'Gasto_com_Ouro', 'Num_Compras_Desconto', 'Num_Compras_Website',
       'Num_Compras_Catalogo', 'Num_Compras_Loja', 'Num_Visitas_Website_Mes',
       'Aceitou_Oferta_3a_Campanha', 'Aceitou_Oferta_4a_Campanha',
       'Aceitou_Oferta_5a_Campanha', 'Aceitou_Oferta_1a_Campanha',
       'Aceitou_Oferta_2a_Campanha', 'Reclamação', 'Ultima_Campanha_Resultou'],
      dtype='object')

Traduzindo os valores das colunas

Através do df.dtypes descobri que apenas as colunas: 'Escolaridade' e 'Estado_Civil' possuem campos de string, o restante são numéricos e datas. Portanto só haverá tradução dos valores dessas colunas:

In [29]:
sorted(pd.unique(df['Escolaridade']))

['2n Cycle', 'Basic', 'Graduation', 'Master', 'PhD']

In [30]:
df.Escolaridade.replace('2n Cycle', 'Mestrado', inplace=True)
df.Escolaridade.replace('Basic', '2o Grau', inplace=True)
df.Escolaridade.replace('Graduation', 'Nível Superior', inplace=True)
df.Escolaridade.replace('Master', 'Mestrado', inplace=True)

In [31]:
sorted(pd.unique(df['Estado_Civil']))

['Absurd',
 'Alone',
 'Divorced',
 'Married',
 'Single',
 'Together',
 'Widow',
 'YOLO']

In [32]:
df.Estado_Civil.replace('Absurd', 'Solteiro', inplace=True)
df.Estado_Civil.replace('Alone', 'Solteiro', inplace=True)
df.Estado_Civil.replace('Divorced', 'Divorciado', inplace=True)
df.Estado_Civil.replace('Married', 'Casado', inplace=True)
df.Estado_Civil.replace('Single', 'Solteiro', inplace=True)
df.Estado_Civil.replace('Together', 'Namora', inplace=True)
df.Estado_Civil.replace('Widow', 'Viúvo', inplace=True)
df.Estado_Civil.replace('YOLO', 'Solteiro', inplace=True)

## Procurando por inconsistências nas colunas

Coluna Renda_Anual:

In [33]:
# Checando se existem valores negativos:
df.loc[df['Renda_Anual']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

Coluna Qtd_Crianças:

In [34]:
# Checando se existem valores negativos:
df.loc[df['Qtd_Crianças']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

Coluna Qtd_Adolescentes:

In [35]:
# Checando se existem valores negativos:
df.loc[df['Qtd_Adolescentes']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

Coluna Dias_Ultima_Compra:

In [36]:
# Checando se existem valores negativos:
df.loc[df['Dias_Ultima_Compra']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

Coluna Gasto_com_Vinhos:

In [37]:
# Checando se existem valores negativos:
df.loc[df['Gasto_com_Vinhos']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

Coluna Gasto_com_Frutas:

In [38]:
# Checando se existem valores negativos:
df.loc[df['Gasto_com_Frutas']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

Coluna Gasto_com_Carnes:

In [39]:
# Checando se existem valores negativos:
df.loc[df['Gasto_com_Carnes']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

Coluna Gasto_com_Peixes:

In [40]:
# Checando se existem valores negativos:
df.loc[df['Gasto_com_Peixes']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

Coluna Gasto_com_Doces:

In [41]:
# Checando se existem valores negativos:
df.loc[df['Gasto_com_Doces']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

Coluna Gasto_com_Ouro:

In [42]:
# Checando se existem valores negativos:
df.loc[df['Gasto_com_Ouro']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

Coluna Num_Compras_Desconto:

In [43]:
# Checando se existem valores negativos:
df.loc[df['Num_Compras_Desconto']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

Coluna Num_Compras_Website:

In [44]:
# Checando se existem valores negativos:
df.loc[df['Num_Compras_Website']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

Coluna Num_Compras_Catalogo:

In [45]:
# Checando se existem valores negativos:
df.loc[df['Num_Compras_Catalogo']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

Coluna Num_Compras_Loja:

In [46]:
# Checando se existem valores negativos:
df.loc[df['Num_Compras_Loja']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

Coluna Num_Visitas_Website_Mes:

In [47]:
# Checando se existem valores negativos:
df.loc[df['Num_Visitas_Website_Mes']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

Coluna Aceitou_Oferta_3a_Campanha:

In [48]:
# Checando se existem valores negativos:
df.loc[df['Aceitou_Oferta_3a_Campanha']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

In [49]:
# Só podem existir valores 1 ou 0 para essa coluna:
pd.unique(df['Aceitou_Oferta_3a_Campanha'])

array([0, 1])

Coluna Aceitou_Oferta_4a_Campanha:

In [50]:
# Checando se existem valores negativos:
df.loc[df['Aceitou_Oferta_4a_Campanha']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

In [51]:
# Só podem existir valores 1 ou 0 para essa coluna:
pd.unique(df['Aceitou_Oferta_4a_Campanha'])

array([0, 1])

Coluna Aceitou_Oferta_5a_Campanha:

In [52]:
# Checando se existem valores negativos:
df.loc[df['Aceitou_Oferta_5a_Campanha']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

In [53]:
# Só podem existir valores 1 ou 0 para essa coluna:
pd.unique(df['Aceitou_Oferta_5a_Campanha'])

array([0, 1])

Coluna Aceitou_Oferta_1a_Campanha:

In [54]:
# Checando se existem valores negativos:
df.loc[df['Aceitou_Oferta_1a_Campanha']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

In [55]:
# Só podem existir valores 1 ou 0 para essa coluna:
pd.unique(df['Aceitou_Oferta_1a_Campanha'])

array([0, 1])

Coluna Aceitou_Oferta_2a_Campanha:

In [56]:
# Checando se existem valores negativos:
df.loc[df['Aceitou_Oferta_2a_Campanha']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

In [57]:
# Só podem existir valores 1 ou 0 para essa coluna:
pd.unique(df['Aceitou_Oferta_2a_Campanha'])

array([0, 1])

Coluna Reclamação:

In [58]:
# Checando se existem valores negativos:
df.loc[df['Reclamação']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

In [59]:
pd.unique(df['Reclamação'])

array([0, 1])

Coluna Ultima_Campanha_Resultou:

In [60]:
# Checando se existem valores negativos:
df.loc[df['Ultima_Campanha_Resultou']<0]

Empty DataFrame
Columns: [ID, Ano_Nascimento, Escolaridade, Estado_Civil, Renda_Anual, Qtd_Crianças, Qtd_Adolescentes, Data_Inscrição_Cliente, Dias_Ultima_Compra, Gasto_com_Vinhos, Gasto_com_Frutas, Gasto_com_Carnes, Gasto_com_Peixes, Gasto_com_Doces, Gasto_com_Ouro, Num_Compras_Desconto, Num_Compras_Website, Num_Compras_Catalogo, Num_Compras_Loja, Num_Visitas_Website_Mes, Aceitou_Oferta_3a_Campanha, Aceitou_Oferta_4a_Campanha, Aceitou_Oferta_5a_Campanha, Aceitou_Oferta_1a_Campanha, Aceitou_Oferta_2a_Campanha, Reclamação, Ultima_Campanha_Resultou]
Index: []

[0 rows x 27 columns]

In [61]:
# Só podem existir valores 1 ou 0 para essa coluna:
pd.unique(df['Ultima_Campanha_Resultou'])

array([1, 0])

## Validação de dados com o Pandera

In [62]:
!pip install pandera
import pandera as pa

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandera
  Downloading pandera-0.9.0-py3-none-any.whl (197 kB)
     |████████████████████████████████| 197 kB 5.2 MB/s
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (4.2.0)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.14.1)
Collecting pydantic
  Downloading pydantic-1.9.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.1 MB)
     |████████████████████████████████| 11.1 MB 52.9 MB/s
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (6.0.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.6)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pydantic, pandera
Successfully installed mypy-extensions-0.4.3 pandera-0.9.0 pydantic-1.9.1 typing-inspect-0.7.1

In [63]:
df.dtypes

ID                              int64
Ano_Nascimento                  int64
Escolaridade                   object
Estado_Civil                   object
Renda_Anual                   float64
Qtd_Crianças                    int64
Qtd_Adolescentes                int64
Data_Inscrição_Cliente         object
Dias_Ultima_Compra              int64
Gasto_com_Vinhos                int64
Gasto_com_Frutas                int64
Gasto_com_Carnes                int64
Gasto_com_Peixes                int64
Gasto_com_Doces                 int64
Gasto_com_Ouro                  int64
Num_Compras_Desconto            int64
Num_Compras_Website             int64
Num_Compras_Catalogo            int64
Num_Compras_Loja                int64
Num_Visitas_Website_Mes         int64
Aceitou_Oferta_3a_Campanha      int64
Aceitou_Oferta_4a_Campanha      int64
Aceitou_Oferta_5a_Campanha      int64
Aceitou_Oferta_1a_Campanha      int64
Aceitou_Oferta_2a_Campanha      int64
Reclamação                      int64
Ultima_Campanha_Resultou        int64
dtype: object

In [64]:
df['Data_Inscrição_Cliente'] = pd.to_datetime(df['Data_Inscrição_Cliente'], format='%Y-%m-%d')

In [65]:
df.head(2)

,ID,Ano_Nascimento,Escolaridade,Estado_Civil,Renda_Anual,Qtd_Crianças,Qtd_Adolescentes,Data_Inscrição_Cliente,Dias_Ultima_Compra,Gasto_com_Vinhos,...,Num_Compras_Catalogo,Num_Compras_Loja,Num_Visitas_Website_Mes,Aceitou_Oferta_3a_Campanha,Aceitou_Oferta_4a_Campanha,Aceitou_Oferta_5a_Campanha,Aceitou_Oferta_1a_Campanha,Aceitou_Oferta_2a_Campanha,Reclamação,Ultima_Campanha_Resultou
0,5524,1957,Nível Superior,Solteiro,58138.0,0,0,2012-09-04,58,635,...,10,4,7,0,0,0,0,0,0,1
1,2174,1954,Nível Superior,Solteiro,46344.0,1,1,2014-03-08,38,11,...,1,2,5,0,0,0,0,0,0,0

In [66]:
schema = pa.DataFrameSchema(
    columns = {
        'ID':pa.Column(pa.Int),
        'Ano_Nascimento':pa.Column(pa.Int),
        'Escolaridade':pa.Column(pa.String),
        'Estado_Civil':pa.Column(pa.String),
        'Renda_Anual':pa.Column(pa.Float, nullable=True),
        'Qtd_Crianças':pa.Column(pa.Int),
        'Qtd_Adolescentes':pa.Column(pa.Int),
        'Data_Inscrição_Cliente':pa.Column(pa.DateTime),
        'Dias_Ultima_Compra':pa.Column(pa.Int),
        'Gasto_com_Vinhos':pa.Column(pa.Int),
        'Gasto_com_Frutas':pa.Column(pa.Int),
        'Gasto_com_Carnes':pa.Column(pa.Int),
        'Gasto_com_Peixes':pa.Column(pa.Int),
        'Gasto_com_Doces':pa.Column(pa.Int),
        'Gasto_com_Ouro':pa.Column(pa.Int),
        'Num_Compras_Desconto':pa.Column(pa.Int),
        'Num_Compras_Website':pa.Column(pa.Int),
        'Num_Compras_Catalogo':pa.Column(pa.Int),
        'Num_Compras_Loja':pa.Column(pa.Int),
        'Num_Visitas_Website_Mes':pa.Column(pa.Int),
        'Aceitou_Oferta_3a_Campanha':pa.Column(pa.Int),
        'Aceitou_Oferta_4a_Campanha':pa.Column(pa.Int),
        'Aceitou_Oferta_5a_Campanha':pa.Column(pa.Int),
        'Aceitou_Oferta_1a_Campanha':pa.Column(pa.Int),
        'Aceitou_Oferta_2a_Campanha':pa.Column(pa.Int),
        'Reclamação':pa.Column(pa.Int),
        'Ultima_Campanha_Resultou':pa.Column(pa.Int)
    }
)

In [67]:
schema.validate(df)

,ID,Ano_Nascimento,Escolaridade,Estado_Civil,Renda_Anual,Qtd_Crianças,Qtd_Adolescentes,Data_Inscrição_Cliente,Dias_Ultima_Compra,Gasto_com_Vinhos,...,Num_Compras_Catalogo,Num_Compras_Loja,Num_Visitas_Website_Mes,Aceitou_Oferta_3a_Campanha,Aceitou_Oferta_4a_Campanha,Aceitou_Oferta_5a_Campanha,Aceitou_Oferta_1a_Campanha,Aceitou_Oferta_2a_Campanha,Reclamação,Ultima_Campanha_Resultou
0,5524,1957,Nível Superior,Solteiro,58138.0,0,0,2012-09-04,58,635,...,10,4,7,0,0,0,0,0,0,1
1,2174,1954,Nível Superior,Solteiro,46344.0,1,1,2014-03-08,38,11,...,1,2,5,0,0,0,0,0,0,0
2,4141,1965,Nível Superior,Namora,71613.0,0,0,2013-08-21,26,426,...,2,10,4,0,0,0,0,0,0,0
3,6182,1984,Nível Superior,Namora,26646.0,1,0,2014-02-10,26,11,...,0,4,6,0,0,0,0,0,0,0
4,5324,1981,PhD,Casado,58293.0,1,0,2014-01-19,94,173,...,3,6,5,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Nível Superior,Casado,61223.0,0,1,2013-06-13,46,709,...,3,4,5,0,0,0,0,0,0,0
2236,4001,1946,PhD,Namora,64014.0,2,1,2014-06-10,56,406,...,2,5,7,0,0,0,1,0,0,0
2237,7270,1981,Nível Superior,Divorciado,56981.0,0,0,2014-01-25,91,908,...,3,13,6,0,1,0,0,0,0,0
2238,8235,1956,Mestrado,Namora,69245.0,0,1,2014-01-24,8,428,...,5,10,3,0,0,0,0,0,0,0
2239,9405,1954,PhD,Casado,52869.0,1,1,2012-10-15,40,84,...,1,4,7,0,0,0,0,0,0,1

## Salvando o df Pré-tratado no Bucket (Para iniciar a segunda parte de tratamento no PySpark)

In [68]:
#df.to_csv('gs://brunotestesoulcode/Tratados/df-proj-individual-trat-pandas.csv')

##Pyspark - início/importando bibliotecas

In [69]:
#instalação da biblioteca Pyspark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 17 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 52.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=d470c04449a5eda53b57689d6872f31682042781d519b197c0d14e3f78724850
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [70]:
#Importando as bibliotecas necessárias
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F #biblioteca de funcoes
import numpy as np

In [71]:
#CRIAR A SPARK SESSION E LER O ARQUIVO VIA PYSPARK
spark = (
    SparkSession.builder
                .master('local')
                .appName('spark-proj-individual')
                .config('spark.ui.port', '4050')
                .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
                .getOrCreate()
)

In [72]:
#verificando spark
spark

## Montagem do DataFrame utilizando StructType

In [73]:
#STRUCT TYPE
from pyspark.sql.types import *

In [74]:
esquema = (
    StructType([
                StructField('SERIAL', IntegerType(), False),
                StructField('ID', IntegerType(), False),
                StructField('Ano_Nascimento', IntegerType(), True),
                StructField('Escolaridade', StringType(), True),
                StructField('Estado_Civil', StringType(), True),
                StructField('Renda_Anual', FloatType(), True),
                StructField('Qtd_Crianças', IntegerType(), True),
                StructField('Qtd_Adolescentes', IntegerType(), True),
                StructField('Data_Inscrição_Cliente', DateType(), True),
                StructField('Dias_Ultima_Compra', IntegerType(), True),
                StructField('Gasto_com_Vinhos', IntegerType(), True),
                StructField('Gasto_com_Frutas', IntegerType(), True),
                StructField('Gasto_com_Carnes', IntegerType(), True),
                StructField('Gasto_com_Peixes', IntegerType(), True),
                StructField('Gasto_com_Doces', IntegerType(), True),
                StructField('Gasto_com_Ouro', IntegerType(), True),
                StructField('Num_Compras_Desconto', IntegerType(), True),
                StructField('Num_Compras_Website', IntegerType(), True),
                StructField('Num_Compras_Catalogo', IntegerType(), True),
                StructField('Num_Compras_Loja', IntegerType(), True),
                StructField('Num_Visitas_Website_Mes', IntegerType(), True),
                StructField('Aceitou_Oferta_3a_Campanha', IntegerType(), True),
                StructField('Aceitou_Oferta_4a_Campanha', IntegerType(), True),
                StructField('Aceitou_Oferta_5a_Campanha', IntegerType(), True),
                StructField('Aceitou_Oferta_1a_Campanha', IntegerType(), True),
                StructField('Aceitou_Oferta_2a_Campanha', IntegerType(), True),
                StructField('Reclamação', IntegerType(), True),
                StructField('Ultima_Campanha_Resultou', IntegerType(), True)
    ])
)

In [75]:
#Criar um DataFrame pelo Pyspark
df_spark = (
    spark.read.format('csv')
                .option('header', 'true')
                .option('delimiter', ',')
                .option('interschema', 'false')
                .load('gs://brunotestesoulcode/Tratados/df-proj-individual-trat-pandas.csv', schema=esquema)
          )

In [76]:
#Conferindo o Schema
df_spark.printSchema()

root
 |-- SERIAL: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- Ano_Nascimento: integer (nullable = true)
 |-- Escolaridade: string (nullable = true)
 |-- Estado_Civil: string (nullable = true)
 |-- Renda_Anual: float (nullable = true)
 |-- Qtd_Crianças: integer (nullable = true)
 |-- Qtd_Adolescentes: integer (nullable = true)
 |-- Data_Inscrição_Cliente: date (nullable = true)
 |-- Dias_Ultima_Compra: integer (nullable = true)
 |-- Gasto_com_Vinhos: integer (nullable = true)
 |-- Gasto_com_Frutas: integer (nullable = true)
 |-- Gasto_com_Carnes: integer (nullable = true)
 |-- Gasto_com_Peixes: integer (nullable = true)
 |-- Gasto_com_Doces: integer (nullable = true)
 |-- Gasto_com_Ouro: integer (nullable = true)
 |-- Num_Compras_Desconto: integer (nullable = true)
 |-- Num_Compras_Website: integer (nullable = true)
 |-- Num_Compras_Catalogo: integer (nullable = true)
 |-- Num_Compras_Loja: integer (nullable = true)
 |-- Num_Visitas_Website_Mes: integer (nullable = true)
 |-- Aceitou_Oferta_3a_Campanha: integer (nullable = true)
 |-- Aceitou_Oferta_4a_Campanha: integer (nullable = true)
 |-- Aceitou_Oferta_5a_Campanha: integer (nullable = true)
 |-- Aceitou_Oferta_1a_Campanha: integer (nullable = true)
 |-- Aceitou_Oferta_2a_Campanha: integer (nullable = true)
 |-- Reclamação: integer (nullable = true)
 |-- Ultima_Campanha_Resultou: integer (nullable = true)

In [77]:
df_spark.show()

+------+----+--------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------+------------------------+
|SERIAL|  ID|Ano_Nascimento|  Escolaridade|Estado_Civil|Renda_Anual|Qtd_Crianças|Qtd_Adolescentes|Data_Inscrição_Cliente|Dias_Ultima_Compra|Gasto_com_Vinhos|Gasto_com_Frutas|Gasto_com_Carnes|Gasto_com_Peixes|Gasto_com_Doces|Gasto_com_Ouro|Num_Compras_Desconto|Num_Compras_Website|Num_Compras_Catalogo|Num_Compras_Loja|Num_Visitas_Website_Mes|Aceitou_Oferta_3a_Campanha|Aceitou_Oferta_4a_Campanha|Aceitou_Oferta_5a_Campanha|Aceitou_Oferta_1a_Campanha|Aceitou_Oferta_2a_Campanha|Reclamação|Ultima_Campanha_Resultou|
+------+----+--------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------+------------------------+
|     0|5524|          1957|Nível Superior|    Solteiro|    58138.0|           0|               0|            2012-09-04|                58|             635|              88|             546|             172|             88|            88|                   3|                  8|                  10|               4|                      7|                         0|                         0|                         0|                         0|                         0|         0|                       1|
|     1|2174|          1954|Nível Superior|    Solteiro|    46344.0|           1|               1|            2014-03-08|                38|              11|               1|               6|               2|              1|             6|                   2|                  1|                   1|               2|                      5|                         0|                         0|                         0|                         0|                         0|         0|                       0|
|     2|4141|          1965|Nível Superior|      Namora|    71613.0|           0|               0|            2013-08-21|                26|             426|              49|             127|             111|             21|            42|                   1|                  8|                   2|              10|                      4|                         0|                         0|                         0|                         0|                         0|         0|                       0|
|     3|6182|          1984|Nível Superior|      Namora|    26646.0|           1|               0|            2014-02-10|                26|              11|               4|              20|              10|              3|             5|                   2|                  2|                   0|               4|                      6|                         0|                         0|                         0|                         0|                         0|         0|                       0|
|     4|5324|          1981|           PhD|      Casado|    58293.0|           1|               0|            2014-01-19|                94|             173|              43|             118|              46|             27|            15|                   5|                  5|                   3|               6|                      5|                         0|                         0|                         0|                         0|                         0|         0|                       0|
|     5|7446|          1967|      Mestrado|      Namora|    62513.0|           0|               1|            2013-09-09|                16|             520|              42|              98|               0|             42|            14|                   2|                  6|                   4|              10|                      6|                         0|                         0|                         0|                         0|                         0|         0|                       0|
|     6| 965|          1971|Nível Superior|  Divorciado|    55635.0|           0|               1|            2012-11-13|                34|             235|              65|             164|              50|             49|            27|                   4|                  7|                   3|               7|                      6|                         0|                         0|                         0|                         0|                         0|         0|                       0|
|     7|6177|          1985|           PhD|      Casado|    33454.0|           1|               0|            2013-05-08|                32|              76|              10|              56|               3|              1|            23|                   2|                  4|                   0|               4|                      8|                         0|                         0|                         0|                         0|                         0|         0|                       0|
|     8|4855|          1974|           PhD|      Namora|    30351.0|           1|               0|            2013-06-06|                19|              14|               0|              24|               3|              3|             2|                   1|                  3|                   0|               2|                      9|                         0|                         0|                         0|                         0|                         0|         0|                       1|
|     9|5899|          1950|           PhD|      Namora|     5648.0|           1|               1|            2014-03-13|                68|              28|               0|               6|               1|              1|            13|                   1|                  1|                   0|               0|                     20|                         1|                         0|                         0|                         0|                         0|         0|                       0|
|    10|1994|          1983|Nível Superior|      Casado|       null|           1|               0|            2013-11-15|                11|               5|               5|               6|               0|              2|             1|                   1|                  1|                   0|               2|                      7|                         0|                         0|                         0|                         0|                         0|         0|                       0|
|    11| 387|          1976|       2o Grau|      Casado|     7500.0|           0|               0|            2012-11-13|                59|               6|              16|              11|              11|              1|            16|                   1|                  2|                   0|               3|                      8|                         0|                         0|                         0|                         0|                         0|         0|                       0|
|    12|2125|          1959|Nível Superior|  Divorciado|    63033.0|           0|               0|            2013-11-15|                82|             194|              61|             480|             225|            112|            30|                   1|                  3|                   4|               8|                      2|                         0|                         0|                         0|                         0|                         0|         0|                       0|
|    13|8180|          1952|      Mestrado|  Divorciado|    59354.0|           1|               1|            2013-11-15|                53|             233|               2|              53|               3|              5|            14|                   3|                  6|                   1|               5|                      6|                         0|                         0|                         0|                         0|                         0|         0|                       0|
|    14|2569|          1987|Nível Superior|      Casado|    17323.0|           0|               0|            2012-10-10|                38|               3|              14|              17|               6|              1|             5|                   1|                  1|                   0|               3|                      8|                         0|                         0|                         0|                         0|                         0|         0|                       0|
|    15|2114|          1946|           PhD|    Solteiro|    82800.0|           0|               0|            2012-11-24|                23|            1006|              22|             115|              59|             68|            45|                   1|                  7|                   6|              12|                      3|                         0|                         0|                         1|                         1|                         0|         0|                       1|
|    16|9736|          1980|Nível Superior|      Casado|    41850.0|           1|               1|            2012-12-24|                51|              53|               5|              19|               2|             13|             4|                   3|                  3|                   0|               3|                      8|                         0|                         0|                         0|                         0|                         0|         0|                       0|
|    17|4939|          1946|Nível Superior|      Namora|    37760.0|           0|               0|            2012-08-31|                20|              84|               5|              38|             150|             12|            28|                   2|                  4|                   1|               6|                      7|                         0|                         0|                         0|                         0|                         0|         0|                       0|
|    18|6565|          1949|      Mestrado|      Casado|    76995.0|           0|               1|            2013-03-28|                91|            1012|              80|             498|               0|             16|           176|                   2|                 11|                   4|               9|                      5|                         0|                         0|                         0|                         1|                         0|         0|                       0|
|    19|2278|          1985|      Mestrado|    Solteiro|    33812.0|           1|               0|            2012-11-03|                86|               4|              17|              19|              30|             24|            39|                   2|                  2|                   1|               3|                      6|                         0|                         0|                         0|                         0|                         0|         0|                       0|
+------+----+--------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------+------------------------+
only showing top 20 rows

## Tratamento de Dados com Pyspark

In [78]:
df_spark.summary().show()

+-------+-----------------+------------------+------------------+------------+------------+------------------+-------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+----------------+--------------------+-------------------+--------------------+-----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+-------------------+------------------------+
|summary|           SERIAL|                ID|    Ano_Nascimento|Escolaridade|Estado_Civil|       Renda_Anual|       Qtd_Crianças|  Qtd_Adolescentes|Dias_Ultima_Compra|  Gasto_com_Vinhos|  Gasto_com_Frutas| Gasto_com_Carnes|  Gasto_com_Peixes|  Gasto_com_Doces|  Gasto_com_Ouro|Num_Compras_Desconto|Num_Compras_Website|Num_Compras_Catalogo| Num_Compras_Loja|Num_Visitas_Website_Mes|Aceitou_Oferta_3a_Campanha|Aceitou_Oferta_4a_Campanha|Aceitou_Oferta_5a_Campanha|Aceitou_Oferta_1a_Campanha|Aceitou_Oferta_2a_Campanha|         Reclamação|Ultima_Campanha_Resultou|
+-------+-----------------+------------------+------------------+------------+------------+------------------+-------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+----------------+--------------------+-------------------+--------------------+-----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+-------------------+------------------------+
|  count|             2240|              2240|              2240|        2240|        2240|              2216|               2240|              2240|              2240|              2240|              2240|             2240|              2240|             2240|            2240|                2240|               2240|                2240|             2240|                   2240|                      2240|                      2240|                      2240|                      2240|                      2240|               2240|                    2240|
|   mean|           1119.5| 5592.159821428571|1968.8058035714287|        null|        null| 52247.25135379061|0.44419642857142855|           0.50625|         49.109375| 303.9357142857143|26.302232142857143|           166.95| 37.52544642857143|27.06294642857143|       44.021875|               2.325|  4.084821428571429|  2.6620535714285714|5.790178571428571|      5.316517857142857|       0.07276785714285715|       0.07455357142857143|       0.07276785714285715|       0.06428571428571428|      0.013392857142857142|           0.009375|     0.14910714285714285|
| stddev|646.7766229541695|3246.6621975643416|11.984069456885827|        null|        null|25173.076660901414| 0.5383980977345935|0.5445382307698761| 28.96245280837821|336.59739260537197|39.773433764578584|225.7153725117536|54.628979402878095|41.28049848785491|52.1674389149973|    1.93223750085598| 2.7787141473881007|  2.9231006555397463|3.250958145674428|       2.42664500954729|        0.2598130699218951|       0.26272828485356176|        0.2598130699218953|       0.24531597433401406|       0.11497560625548417|0.09639116794449748|     0.35627358640847934|
|    min|                0|                 0|              1893|     2o Grau|      Casado|            1730.0|                  0|                 0|                 0|                 0|                 0|                0|                 0|                0|               0|                   0|                  0|                   0|                0|                      0|                         0|                         0|                         0|                         0|                         0|                  0|                       0|
|    25%|              559|              2826|              1959|        null|        null|           35246.0|                  0|                 0|                24|                23|                 1|               16|                 3|                1|               9|                   1|                  2|                   0|                3|                      3|                         0|                         0|                         0|                         0|                         0|                  0|                       0|
|    50%|             1119|              5455|              1970|        null|        null|           51373.0|                  0|                 0|                49|               173|                 8|               67|                12|                8|              24|                   2|                  4|                   2|                5|                      6|                         0|                         0|                         0|                         0|                         0|                  0|                       0|
|    75%|             1679|              8427|              1977|        null|        null|           68487.0|                  1|                 1|                74|               504|                33|              232|                50|               33|              56|                   3|                  6|                   4|                8|                      7|                         0|                         0|                         0|                         0|                         0|                  0|                       0|
|    max|             2239|             11191|              1996|         PhD|       Viúvo|          666666.0|                  2|                 2|                99|              1493|               199|             1725|               259|              263|             362|                  15|                 27|                  28|               13|                     20|                         1|                         1|                         1|                         1|                         1|                  1|                       1|
+-------+-----------------+------------------+------------------+------------+------------+------------------+-------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+----------------+--------------------+-------------------+--------------------+-----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+-------------------+------------------------+

Foi pedido no projeto que houvesse pelo menos 2 colunas renomeadas através do Pyspark:

In [79]:
# renomeando a coluna Reclamação para Houve_Reclamação
df_spark = df_spark.withColumnRenamed("Reclamação", "Houve_Reclamação")

In [80]:
# renomeando a coluna Ano_Nascimento para Ano_de_Nascimento
df_spark = df_spark.withColumnRenamed("Ano_Nascimento", "Ano_de_Nascimento")

Criação de uma nova coluna "Gasto_Total" (somatoria dos gastos)

In [81]:
df_spark = df_spark.withColumn('Gasto_Total', df_spark['Gasto_com_Vinhos'] + df_spark['Gasto_com_Frutas'] + df_spark['Gasto_com_Carnes'] + df_spark['Gasto_com_Peixes'] + df_spark['Gasto_com_Doces'] + df_spark['Gasto_com_Ouro'])

Criação de uma nova coluna "Idade" (Considerando que existe o campo chamado Ano_de_Nascimento é interessante que haja a idade do cliente)

In [82]:
df_spark = df_spark.withColumn('Idade', 2022 - df_spark['Ano_de_Nascimento'])

Criação de uma nova coluna 'Qt_Membros_Familia' (Considerando que existem varias colunas sobre isso, é interessante que haja uma coluna com a quantidade de membros da familia)

In [83]:
df_spark = df_spark.withColumn('Qt_Membros_Familia', (F.when((F.col('Estado_Civil') == 'Casado') | (F.col('Estado_Civil') == 'Namora') , F.lit(2)).otherwise(F.lit(1))) + df_spark['Qtd_Crianças'] + df_spark['Qtd_Adolescentes'])

Criação de uma nova coluna "Qtd_Filhos" (Considerando que existem colunas separando criança de adolescentes, talvez seja interessante saber se a quantidade de filhos interferem na campanha)

In [84]:
df_spark = df_spark.withColumn('Qtd_Filhos', df_spark['Qtd_Crianças'] + df_spark['Qtd_Adolescentes'])

In [85]:
#DataFrame com as 4 novas colunas:
df_spark.show(5)

+------+----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+------------------------+-----------+-----+------------------+----------+
|SERIAL|  ID|Ano_de_Nascimento|  Escolaridade|Estado_Civil|Renda_Anual|Qtd_Crianças|Qtd_Adolescentes|Data_Inscrição_Cliente|Dias_Ultima_Compra|Gasto_com_Vinhos|Gasto_com_Frutas|Gasto_com_Carnes|Gasto_com_Peixes|Gasto_com_Doces|Gasto_com_Ouro|Num_Compras_Desconto|Num_Compras_Website|Num_Compras_Catalogo|Num_Compras_Loja|Num_Visitas_Website_Mes|Aceitou_Oferta_3a_Campanha|Aceitou_Oferta_4a_Campanha|Aceitou_Oferta_5a_Campanha|Aceitou_Oferta_1a_Campanha|Aceitou_Oferta_2a_Campanha|Houve_Reclamação|Ultima_Campanha_Resultou|Gasto_Total|Idade|Qt_Membros_Familia|Qtd_Filhos|
+------+----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+------------------------+-----------+-----+------------------+----------+
|     0|5524|             1957|Nível Superior|    Solteiro|    58138.0|           0|               0|            2012-09-04|                58|             635|              88|             546|             172|             88|            88|                   3|                  8|                  10|               4|                      7|                         0|                         0|                         0|                         0|                         0|               0|                       1|       1617|   65|                 1|         0|
|     1|2174|             1954|Nível Superior|    Solteiro|    46344.0|           1|               1|            2014-03-08|                38|              11|               1|               6|               2|              1|             6|                   2|                  1|                   1|               2|                      5|                         0|                         0|                         0|                         0|                         0|               0|                       0|         27|   68|                 3|         2|
|     2|4141|             1965|Nível Superior|      Namora|    71613.0|           0|               0|            2013-08-21|                26|             426|              49|             127|             111|             21|            42|                   1|                  8|                   2|              10|                      4|                         0|                         0|                         0|                         0|                         0|               0|                       0|        776|   57|                 2|         0|
|     3|6182|             1984|Nível Superior|      Namora|    26646.0|           1|               0|            2014-02-10|                26|              11|               4|              20|              10|              3|             5|                   2|                  2|                   0|               4|                      6|                         0|                         0|                         0|                         0|                         0|               0|                       0|         53|   38|                 3|         1|
|     4|5324|             1981|           PhD|      Casado|    58293.0|           1|               0|            2014-01-19|                94|             173|              43|             118|              46|             27|            15|                   5|                  5|                   3|               6|                      5|                         0|                         0|                         0|                         0|                         0|               0|                       0|        422|   41|                 3|         1|
+------+----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+------------------------+-----------+-----+------------------+----------+
only showing top 5 rows

Durante um GroupBy da Idade procurando pela média da Renda_Anual, descobri outra inconsistência, existem clientes com 122 anos:

In [86]:
df_spark.groupBy('Idade').avg('Renda_Anual').show()

+-----+------------------+
|Idade|  avg(Renda_Anual)|
+-----+------------------+
|   31|60900.333333333336|
|   65| 54020.26829268293|
|   53| 51205.62857142857|
|   78| 66477.14285714286|
|   34| 47947.75862068965|
|   81|           93027.0|
|   28| 85449.33333333333|
|   76|          59944.25|
|   26|           10960.5|
|   27|           60937.0|
|   44| 46012.43421052631|
|  122|           36640.0|
|   47|52417.132530120485|
|   52|52395.973333333335|
|   40|52683.795454545456|
|   57| 55668.66216216216|
|   54|48597.450980392154|
|   48| 48338.89855072464|
|   64| 58603.71153846154|
|   41| 46894.92105263158|
+-----+------------------+
only showing top 20 rows

Dropando idades maiores que 100 através da função condition Where

In [87]:
df_spark = df_spark.where("Idade<100")

Durante um GroupBy da Renda_Anual, descobri outra inconsistência, existe uma ÚNICA renda "outliner" (fora da curva), acredito ser interessante remove-la para não interferir na média:

In [88]:
df_spark.orderBy(df_spark['Renda_Anual'].desc()).show(5)

+------+----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+------------------------+-----------+-----+------------------+----------+
|SERIAL|  ID|Ano_de_Nascimento|  Escolaridade|Estado_Civil|Renda_Anual|Qtd_Crianças|Qtd_Adolescentes|Data_Inscrição_Cliente|Dias_Ultima_Compra|Gasto_com_Vinhos|Gasto_com_Frutas|Gasto_com_Carnes|Gasto_com_Peixes|Gasto_com_Doces|Gasto_com_Ouro|Num_Compras_Desconto|Num_Compras_Website|Num_Compras_Catalogo|Num_Compras_Loja|Num_Visitas_Website_Mes|Aceitou_Oferta_3a_Campanha|Aceitou_Oferta_4a_Campanha|Aceitou_Oferta_5a_Campanha|Aceitou_Oferta_1a_Campanha|Aceitou_Oferta_2a_Campanha|Houve_Reclamação|Ultima_Campanha_Resultou|Gasto_Total|Idade|Qt_Membros_Familia|Qtd_Filhos|
+------+----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+------------------------+-----------+-----+------------------+----------+
|  2233|9432|             1977|Nível Superior|      Namora|   666666.0|           1|               0|            2013-06-02|                23|               9|              14|              18|               8|              1|            12|                   4|                  3|                   1|               3|                      6|                         0|                         0|                         0|                         0|                         0|               0|                       0|         62|   45|                 3|         1|
|   617|1503|             1976|           PhD|      Namora|   162397.0|           1|               1|            2013-06-03|                31|              85|               1|              16|               2|              1|             2|                   0|                  0|                   0|               1|                      1|                         0|                         0|                         0|                         0|                         0|               0|                       0|        107|   46|                 4|         2|
|   687|1501|             1982|           PhD|      Casado|   160803.0|           0|               0|            2012-08-04|                21|              55|              16|            1622|              17|              3|             4|                  15|                  0|                  28|               1|                      0|                         0|                         0|                         0|                         0|                         0|               0|                       0|       1717|   40|                 2|         0|
|  1300|5336|             1971|      Mestrado|      Namora|   157733.0|           1|               0|            2013-06-04|                37|              39|               1|               9|               2|              0|             8|                   0|                  1|                   0|               1|                      1|                         0|                         0|                         0|                         0|                         0|               0|                       0|         59|   51|                 3|         1|
|   164|8475|             1973|           PhD|      Casado|   157243.0|           0|               1|            2014-03-01|                98|              20|               2|            1582|               1|              2|             1|                  15|                  0|                  22|               0|                      0|                         0|                         0|                         0|                         0|                         0|               0|                       0|       1608|   49|                 3|         1|
+------+----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+------------------------+-----------+-----+------------------+----------+
only showing top 5 rows

In [89]:
df_spark = df_spark.where("Renda_Anual<600000")

Concertando coluna de resultado das ultimas 5 campanhas:

In [90]:
df_spark = df_spark.withColumn('Campanha_Resultou', (F.when((F.col('Aceitou_Oferta_1a_Campanha') > 0) | (F.col('Aceitou_Oferta_2a_Campanha') > 0) | (F.col('Aceitou_Oferta_3a_Campanha') > 0) | (F.col('Aceitou_Oferta_4a_Campanha') > 0) | (F.col('Aceitou_Oferta_5a_Campanha') > 0) , F.lit(1)).otherwise(F.lit(0))))

In [91]:
df_spark.show(10)

+------+----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+------------------------+-----------+-----+------------------+----------+-----------------+
|SERIAL|  ID|Ano_de_Nascimento|  Escolaridade|Estado_Civil|Renda_Anual|Qtd_Crianças|Qtd_Adolescentes|Data_Inscrição_Cliente|Dias_Ultima_Compra|Gasto_com_Vinhos|Gasto_com_Frutas|Gasto_com_Carnes|Gasto_com_Peixes|Gasto_com_Doces|Gasto_com_Ouro|Num_Compras_Desconto|Num_Compras_Website|Num_Compras_Catalogo|Num_Compras_Loja|Num_Visitas_Website_Mes|Aceitou_Oferta_3a_Campanha|Aceitou_Oferta_4a_Campanha|Aceitou_Oferta_5a_Campanha|Aceitou_Oferta_1a_Campanha|Aceitou_Oferta_2a_Campanha|Houve_Reclamação|Ultima_Campanha_Resultou|Gasto_Total|Idade|Qt_Membros_Familia|Qtd_Filhos|Campanha_Resultou|
+------+----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+------------------------+-----------+-----+------------------+----------+-----------------+
|     0|5524|             1957|Nível Superior|    Solteiro|    58138.0|           0|               0|            2012-09-04|                58|             635|              88|             546|             172|             88|            88|                   3|                  8|                  10|               4|                      7|                         0|                         0|                         0|                         0|                         0|               0|                       1|       1617|   65|                 1|         0|                0|
|     1|2174|             1954|Nível Superior|    Solteiro|    46344.0|           1|               1|            2014-03-08|                38|              11|               1|               6|               2|              1|             6|                   2|                  1|                   1|               2|                      5|                         0|                         0|                         0|                         0|                         0|               0|                       0|         27|   68|                 3|         2|                0|
|     2|4141|             1965|Nível Superior|      Namora|    71613.0|           0|               0|            2013-08-21|                26|             426|              49|             127|             111|             21|            42|                   1|                  8|                   2|              10|                      4|                         0|                         0|                         0|                         0|                         0|               0|                       0|        776|   57|                 2|         0|                0|
|     3|6182|             1984|Nível Superior|      Namora|    26646.0|           1|               0|            2014-02-10|                26|              11|               4|              20|              10|              3|             5|                   2|                  2|                   0|               4|                      6|                         0|                         0|                         0|                         0|                         0|               0|                       0|         53|   38|                 3|         1|                0|
|     4|5324|             1981|           PhD|      Casado|    58293.0|           1|               0|            2014-01-19|                94|             173|              43|             118|              46|             27|            15|                   5|                  5|                   3|               6|                      5|                         0|                         0|                         0|                         0|                         0|               0|                       0|        422|   41|                 3|         1|                0|
|     5|7446|             1967|      Mestrado|      Namora|    62513.0|           0|               1|            2013-09-09|                16|             520|              42|              98|               0|             42|            14|                   2|                  6|                   4|              10|                      6|                         0|                         0|                         0|                         0|                         0|               0|                       0|        716|   55|                 3|         1|                0|
|     6| 965|             1971|Nível Superior|  Divorciado|    55635.0|           0|               1|            2012-11-13|                34|             235|              65|             164|              50|             49|            27|                   4|                  7|                   3|               7|                      6|                         0|                         0|                         0|                         0|                         0|               0|                       0|        590|   51|                 2|         1|                0|
|     7|6177|             1985|           PhD|      Casado|    33454.0|           1|               0|            2013-05-08|                32|              76|              10|              56|               3|              1|            23|                   2|                  4|                   0|               4|                      8|                         0|                         0|                         0|                         0|                         0|               0|                       0|        169|   37|                 3|         1|                0|
|     8|4855|             1974|           PhD|      Namora|    30351.0|           1|               0|            2013-06-06|                19|              14|               0|              24|               3|              3|             2|                   1|                  3|                   0|               2|                      9|                         0|                         0|                         0|                         0|                         0|               0|                       1|         46|   48|                 3|         1|                0|
|     9|5899|             1950|           PhD|      Namora|     5648.0|           1|               1|            2014-03-13|                68|              28|               0|               6|               1|              1|            13|                   1|                  1|                   0|               0|                     20|                         1|                         0|                         0|                         0|                         0|               0|                       0|         49|   72|                 4|         2|                1|
+------+----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+------------------------+-----------+-----+------------------+----------+-----------------+
only showing top 10 rows

Dropando a coluna 'Ultima_Campanha_Resultou' porque já o corrgi no bloco acima

In [92]:
df_spark = df_spark.drop('Ultima_Campanha_Resultou')

## Window Functions

In [93]:
#importando
from pyspark.sql.window import Window

In [94]:
w0 = Window.partitionBy(F.col('Escolaridade')).orderBy('Renda_Anual')

In [95]:
#WINDOW FUNCTION DE RANK (Retornando o rank da Renda_Anual separado por Escolaridade)
df_spark.withColumn('rank', F.rank().over(w0)).show(10)

+------+-----+-----------------+------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+-----------+-----+------------------+----------+-----------------+----+
|SERIAL|   ID|Ano_de_Nascimento|Escolaridade|Estado_Civil|Renda_Anual|Qtd_Crianças|Qtd_Adolescentes|Data_Inscrição_Cliente|Dias_Ultima_Compra|Gasto_com_Vinhos|Gasto_com_Frutas|Gasto_com_Carnes|Gasto_com_Peixes|Gasto_com_Doces|Gasto_com_Ouro|Num_Compras_Desconto|Num_Compras_Website|Num_Compras_Catalogo|Num_Compras_Loja|Num_Visitas_Website_Mes|Aceitou_Oferta_3a_Campanha|Aceitou_Oferta_4a_Campanha|Aceitou_Oferta_5a_Campanha|Aceitou_Oferta_1a_Campanha|Aceitou_Oferta_2a_Campanha|Houve_Reclamação|Gasto_Total|Idade|Qt_Membros_Familia|Qtd_Filhos|Campanha_Resultou|rank|
+------+-----+-----------------+------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+-----------+-----+------------------+----------+-----------------+----+
|    11|  387|             1976|     2o Grau|      Casado|     7500.0|           0|               0|            2012-11-13|                59|               6|              16|              11|              11|              1|            16|                   1|                  2|                   0|               3|                      8|                         0|                         0|                         0|                         0|                         0|               0|         61|   46|                 2|         0|                0|   1|
|  1246| 4136|             1992|     2o Grau|    Solteiro|     7500.0|           1|               0|            2012-12-03|                63|              10|              17|              18|               8|             26|            40|                   4|                  3|                   2|               2|                      9|                         0|                         0|                         0|                         0|                         0|               0|        119|   30|                 2|         1|                0|   1|
|  1220|10395|             1986|     2o Grau|    Solteiro|     8940.0|           1|               0|            2012-08-22|                25|               1|              45|               3|               4|              6|            42|                   3|                  3|                   1|               3|                      8|                         0|                         0|                         0|                         0|                         0|               0|        101|   36|                 2|         1|                0|   3|
|   136| 5342|             1976|     2o Grau|  Divorciado|     9548.0|           1|               0|            2012-08-08|                31|               0|               1|               3|              10|              6|             9|                   2|                  1|                   0|               3|                      8|                         0|                         0|                         0|                         0|                         0|               0|         29|   46|                 2|         1|                0|   4|
|  1704| 7349|             1973|     2o Grau|      Namora|     9722.0|           1|               0|            2012-10-02|                 7|               6|              17|              16|               6|             16|            42|                   4|                  3|                   1|               3|                      8|                         0|                         0|                         0|                         0|                         0|               0|        103|   49|                 3|         1|                0|   5|
|   693| 9316|             1952|     2o Grau|      Namora|    13084.0|           0|               0|            2013-11-02|                29|               2|               0|               7|               3|              7|            10|                   1|                  1|                   0|               3|                      6|                         0|                         0|                         0|                         0|                         0|               0|         29|   70|                 2|         0|                0|   6|
|  1592|10069|             1988|     2o Grau|      Namora|    13724.0|           1|               0|            2012-08-31|                43|               2|               7|               5|               2|             15|            27|                   1|                  2|                   0|               2|                      9|                         1|                         0|                         0|                         0|                         0|               0|         58|   34|                 3|         1|                1|   7|
|  2104| 5802|             1972|     2o Grau|      Casado|    14188.0|           0|               0|            2013-02-28|                40|               2|               7|              11|              16|             12|            27|                   1|                  2|                   0|               4|                      6|                         0|                         0|                         0|                         0|                         0|               0|         75|   50|                 2|         0|                0|   8|
|  1170|  193|             1996|     2o Grau|      Casado|    14421.0|           0|               0|            2014-02-17|                81|               0|               0|               2|               3|              3|             8|                   1|                  1|                   0|               2|                      5|                         1|                         0|                         0|                         0|                         0|               0|         16|   26|                 2|         0|                1|   9|
|   944| 8700|             1986|     2o Grau|    Solteiro|    14906.0|           0|               0|            2012-12-22|                86|               7|               7|              14|               7|             16|            15|                   3|                  2|                   1|               3|                      7|                         0|                         0|                         0|                         0|                         0|               0|         66|   36|                 1|         0|                0|  10|
+------+-----+-----------------+------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+-----------+-----+------------------+----------+-----------------+----+
only showing top 10 rows

In [96]:
w1 = Window.partitionBy(F.col('Qt_Membros_Familia')).orderBy('Gasto_Total')

In [97]:
#WINDOW FUNCTION DE ROW_NUMBER (Retornando o rank(sem valores repetidos de rank) do Gasto_Total separado pela Qt_Membros_Familia)
df_spark.withColumn('row_number', F.row_number().over(w1)).show(10)

+------+-----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+-----------+-----+------------------+----------+-----------------+----------+
|SERIAL|   ID|Ano_de_Nascimento|  Escolaridade|Estado_Civil|Renda_Anual|Qtd_Crianças|Qtd_Adolescentes|Data_Inscrição_Cliente|Dias_Ultima_Compra|Gasto_com_Vinhos|Gasto_com_Frutas|Gasto_com_Carnes|Gasto_com_Peixes|Gasto_com_Doces|Gasto_com_Ouro|Num_Compras_Desconto|Num_Compras_Website|Num_Compras_Catalogo|Num_Compras_Loja|Num_Visitas_Website_Mes|Aceitou_Oferta_3a_Campanha|Aceitou_Oferta_4a_Campanha|Aceitou_Oferta_5a_Campanha|Aceitou_Oferta_1a_Campanha|Aceitou_Oferta_2a_Campanha|Houve_Reclamação|Gasto_Total|Idade|Qt_Membros_Familia|Qtd_Filhos|Campanha_Resultou|row_number|
+------+-----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+-----------+-----+------------------+----------+-----------------+----------+
|   655| 5555|             1975|Nível Superior|  Divorciado|   153924.0|           0|               0|            2014-02-07|                81|               1|               1|               1|               1|              1|             1|                   0|                  0|                   0|               0|                      0|                         0|                         0|                         0|                         0|                         0|               0|          6|   47|                 1|         0|                0|         1|
|   981| 3955|             1965|Nível Superior|  Divorciado|     4861.0|           0|               0|            2014-06-22|                20|               2|               1|               1|               1|              0|             1|                   0|                  0|                   0|               0|                     14|                         0|                         0|                         0|                         0|                         0|               0|          6|   57|                 1|         0|                0|         2|
|  1245| 6862|             1971|Nível Superior|  Divorciado|     1730.0|           0|               0|            2014-05-18|                65|               1|               1|               3|               1|              1|             1|                  15|                  0|                   0|               0|                     20|                         0|                         0|                         0|                         0|                         0|               0|          8|   51|                 1|         0|                0|         3|
|  1861|10241|             1975|      Mestrado|  Divorciado|    11448.0|           0|               0|            2013-12-15|                16|               0|               0|               0|               6|              2|             6|                   1|                  1|                   0|               2|                      6|                         0|                         0|                         0|                         0|                         0|               0|         14|   47|                 1|         0|                0|         4|
|  2003| 6679|             1966|Nível Superior|    Solteiro|    33279.0|           0|               0|            2014-06-12|                29|              10|               3|               3|               0|              0|             0|                   1|                  0|                   0|               3|                      3|                         0|                         0|                         0|                         0|                         0|               0|         16|   56|                 1|         0|                0|         5|
|  1068| 4817|             1956|Nível Superior|  Divorciado|    22304.0|           0|               0|            2012-08-04|                91|               3|               2|               7|               0|              4|             2|                   1|                  1|                   0|               2|                      8|                         0|                         0|                         0|                         0|                         0|               0|         18|   66|                 1|         0|                0|         6|
|   233| 9617|             1951|Nível Superior|    Solteiro|    15033.0|           0|               0|            2014-04-16|                37|               0|               4|               5|               6|              0|             4|                   1|                  1|                   0|               3|                      3|                         0|                         0|                         0|                         0|                         0|               0|         19|   71|                 1|         0|                0|         7|
|   445|10364|             1959|Nível Superior|  Divorciado|    23295.0|           0|               0|            2013-07-13|                72|               0|               0|               1|               2|             12|             5|                   1|                  1|                   0|               2|                      8|                         0|                         0|                         0|                         0|                         0|               0|         20|   63|                 1|         0|                0|         8|
|  1645|10141|             1960|      Mestrado|  Divorciado|    39228.0|           0|               0|            2013-05-10|                 1|               7|               1|               6|               0|              3|             3|                   1|                  0|                   0|               3|                      4|                         0|                         0|                         0|                         0|                         0|               0|         20|   62|                 1|         0|                0|         9|
|  2232| 8080|             1986|Nível Superior|    Solteiro|    26816.0|           0|               0|            2012-08-17|                50|               5|               1|               6|               3|              4|             3|                   1|                  0|                   0|               3|                      4|                         0|                         0|                         0|                         0|                         0|               0|         22|   36|                 1|         0|                0|        10|
+------+-----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+-----------+-----+------------------+----------+-----------------+----------+
only showing top 10 rows

## Filtros, agrupamentos: (SparkSQL)

In [98]:
# Filtrando os clientes mais antigos
df_spark.sort(F.col('Data_Inscrição_Cliente').asc()).show(5)

+------+----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+-----------+-----+------------------+----------+-----------------+
|SERIAL|  ID|Ano_de_Nascimento|  Escolaridade|Estado_Civil|Renda_Anual|Qtd_Crianças|Qtd_Adolescentes|Data_Inscrição_Cliente|Dias_Ultima_Compra|Gasto_com_Vinhos|Gasto_com_Frutas|Gasto_com_Carnes|Gasto_com_Peixes|Gasto_com_Doces|Gasto_com_Ouro|Num_Compras_Desconto|Num_Compras_Website|Num_Compras_Catalogo|Num_Compras_Loja|Num_Visitas_Website_Mes|Aceitou_Oferta_3a_Campanha|Aceitou_Oferta_4a_Campanha|Aceitou_Oferta_5a_Campanha|Aceitou_Oferta_1a_Campanha|Aceitou_Oferta_2a_Campanha|Houve_Reclamação|Gasto_Total|Idade|Qt_Membros_Familia|Qtd_Filhos|Campanha_Resultou|
+------+----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+-----------+-----+------------------+----------+-----------------+
|  1255|6653|             1970|           PhD|      Casado|    55158.0|           1|               1|            2012-07-30|                72|             293|               0|              87|               4|             11|            23|                   4|                  7|                   2|               5|                      7|                         0|                         0|                         0|                         0|                         0|               0|        418|   52|                 4|         2|                0|
|  1363|6181|             1950|      Mestrado|      Namora|    52203.0|           0|               0|            2012-07-31|                36|             488|              21|             238|              56|            108|            28|                   1|                  8|                   7|              11|                      6|                         0|                         0|                         0|                         0|                         0|               0|        939|   72|                 2|         0|                0|
|   724|4692|             1976|Nível Superior|      Casado|     7500.0|           1|               0|            2012-08-01|                19|               7|               0|              12|              13|              7|            32|                   5|                  4|                   1|               2|                      9|                         1|                         0|                         0|                         0|                         0|               0|         71|   46|                 3|         1|                1|
|   976|2611|             1959|      Mestrado|      Namora|    82576.0|           0|               0|            2012-08-01|                66|            1206|              55|             445|             168|             18|            18|                   1|                  2|                   4|              12|                      1|                         0|                         0|                         1|                         0|                         0|               0|       1910|   63|                 2|         0|                1|
|  2194|7118|             1957|Nível Superior|      Casado|    73803.0|           0|               1|            2012-08-01|                61|             833|              80|             363|              52|             26|           174|                   2|                  9|                   5|               6|                      6|                         1|                         0|                         0|                         0|                         0|               0|       1528|   65|                 3|         1|                1|
+------+----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+-----------+-----+------------------+----------+-----------------+
only showing top 5 rows

In [99]:
#Procurando pelos Gastos relacionado com o nível de escolaridade
df_spark.groupBy('Escolaridade').sum('Gasto_Total').show()

+--------------+----------------+
|  Escolaridade|sum(Gasto_Total)|
+--------------+----------------+
|       2o Grau|            4417|
|           PhD|          323656|
|Nível Superior|          693740|
|      Mestrado|          321464|
+--------------+----------------+

In [100]:
#Procurando pelos Gastos relacionado com o tamanho da familia
df_spark.groupBy('Qt_Membros_Familia').sum('Gasto_Total').orderBy('Qt_Membros_Familia', ascending=False).show()

+------------------+----------------+
|Qt_Membros_Familia|sum(Gasto_Total)|
+------------------+----------------+
|                 5|            9270|
|                 4|           72864|
|                 3|          389746|
|                 2|          592375|
|                 1|          279022|
+------------------+----------------+

In [101]:
#Relacionando quantidade de vezes que acessa Website x Qtd de compras realizdas
df_spark.groupBy('Num_Visitas_Website_Mes').sum('Num_Compras_Website').orderBy('Num_Visitas_Website_Mes', ascending=False).show()

+-----------------------+------------------------+
|Num_Visitas_Website_Mes|sum(Num_Compras_Website)|
+-----------------------+------------------------+
|                     20|                       1|
|                     19|                       0|
|                     17|                       1|
|                     14|                       0|
|                     13|                       1|
|                     10|                      16|
|                      9|                     349|
|                      8|                    1325|
|                      7|                    1419|
|                      6|                    1432|
|                      5|                    1206|
|                      4|                     972|
|                      3|                     915|
|                      2|                     852|
|                      1|                     520|
|                      0|                      34|
+-----------------------+------------------------+

In [102]:
#Quanto uma família costuma gastar
df_spark.groupBy('Qt_Membros_Familia').mean('Gasto_com_Vinhos', 'Gasto_com_Frutas', 'Gasto_com_Carnes', 'Gasto_com_Peixes', 'Gasto_com_Doces', 'Gasto_com_Ouro').orderBy('Qt_Membros_Familia', ascending=False).show()

+------------------+---------------------+---------------------+---------------------+---------------------+--------------------+-------------------+
|Qt_Membros_Familia|avg(Gasto_com_Vinhos)|avg(Gasto_com_Frutas)|avg(Gasto_com_Carnes)|avg(Gasto_com_Peixes)|avg(Gasto_com_Doces)|avg(Gasto_com_Ouro)|
+------------------+---------------------+---------------------+---------------------+---------------------+--------------------+-------------------+
|                 5|   198.93548387096774|    6.290322580645161|   63.483870967741936|    6.903225806451613|   3.903225806451613| 19.516129032258064|
|                 4|   145.80067567567568|    7.902027027027027|   50.486486486486484|   10.618243243243244|   8.513513513513514| 22.841216216216218|
|                 3|   249.10807736063708|    17.37542662116041|    95.25597269624573|   24.234357224118316|  18.633674630261662|  38.78953356086462|
|                 2|    375.6286472148541|   36.145888594164454|   232.43766578249335|    52.90450928381963|  36.183023872679044|  52.34350132625995|
|                 1|    491.1984126984127|   52.301587301587304|    371.3095238095238|    74.32539682539682|   53.67063492063492|  64.42460317460318|
+------------------+---------------------+---------------------+---------------------+---------------------+--------------------+-------------------+

In [103]:
#Renda_Anual média
df_spark.select(F.avg('Renda_Anual')).show()

+-----------------+
| avg(Renda_Anual)|
+-----------------+
|51958.81057866185|
+-----------------+

In [110]:
#Maior Gasto 
df_spark.select(F.max('Gasto_Total')).show()

+----------------+
|max(Gasto_Total)|
+----------------+
|            2525|
+----------------+

In [111]:
#Menor Gasto
df_spark.select(F.min('Gasto_Total')).show()

+----------------+
|min(Gasto_Total)|
+----------------+
|               5|
+----------------+

In [109]:
#media da idade dos clientes
df_spark.select(F.avg('Idade')).show()

+-----------------+
|       avg(Idade)|
+-----------------+
|53.08634719710669|
+-----------------+

In [108]:
#media de dias dos clientes entre a ultima compra
df_spark.select(F.avg('Dias_Ultima_Compra')).show()

+-----------------------+
|avg(Dias_Ultima_Compra)|
+-----------------------+
|     49.019439421338156|
+-----------------------+

In [107]:
df_spark.show(3)

+------+----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+-----------+-----+------------------+----------+-----------------+
|SERIAL|  ID|Ano_de_Nascimento|  Escolaridade|Estado_Civil|Renda_Anual|Qtd_Crianças|Qtd_Adolescentes|Data_Inscrição_Cliente|Dias_Ultima_Compra|Gasto_com_Vinhos|Gasto_com_Frutas|Gasto_com_Carnes|Gasto_com_Peixes|Gasto_com_Doces|Gasto_com_Ouro|Num_Compras_Desconto|Num_Compras_Website|Num_Compras_Catalogo|Num_Compras_Loja|Num_Visitas_Website_Mes|Aceitou_Oferta_3a_Campanha|Aceitou_Oferta_4a_Campanha|Aceitou_Oferta_5a_Campanha|Aceitou_Oferta_1a_Campanha|Aceitou_Oferta_2a_Campanha|Houve_Reclamação|Gasto_Total|Idade|Qt_Membros_Familia|Qtd_Filhos|Campanha_Resultou|
+------+----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+-----------+-----+------------------+----------+-----------------+
|     0|5524|             1957|Nível Superior|    Solteiro|    58138.0|           0|               0|            2012-09-04|                58|             635|              88|             546|             172|             88|            88|                   3|                  8|                  10|               4|                      7|                         0|                         0|                         0|                         0|                         0|               0|       1617|   65|                 1|         0|                0|
|     1|2174|             1954|Nível Superior|    Solteiro|    46344.0|           1|               1|            2014-03-08|                38|              11|               1|               6|               2|              1|             6|                   2|                  1|                   1|               2|                      5|                         0|                         0|                         0|                         0|                         0|               0|         27|   68|                 3|         2|                0|
|     2|4141|             1965|Nível Superior|      Namora|    71613.0|           0|               0|            2013-08-21|                26|             426|              49|             127|             111|             21|            42|                   1|                  8|                   2|              10|                      4|                         0|                         0|                         0|                         0|                         0|               0|        776|   57|                 2|         0|                0|
+------+----+-----------------+--------------+------------+-----------+------------+----------------+----------------------+------------------+----------------+----------------+----------------+----------------+---------------+--------------+--------------------+-------------------+--------------------+----------------+-----------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+----------------+-----------+-----+------------------+----------+-----------------+
only showing top 3 rows

##Salvando no Bucket

In [104]:
df_spark.write.format("csv").option("header", True).option("inferschema", True).option("delimiter", ",").option("encoding", "utf-8").save('gs://brunotestesoulcode/Tratados/df-proj-individual-trat-spark', mode='overwrite')

In [ ]:
#df_final = pd.read_csv('gs://brunotestesoulcode/Tratados/df-proj-individual-trat-spark/part-00000-ad444aff-b402-4e2b-9678-83782fb04069-c000.csv', sep=',')

## Enviando o arquivo final para o Mongodb Atlas

In [112]:
# uri (uniform resource identifier) definindo parametros de conexão 
uri = 'mongodb+srv://1bruno2yaporandy:proj1individual2bruno3yaporandy@cluster0.3jmog.mongodb.net/?retryWrites=true&w=majority'
# iniciando a conexão com o servidor MongoDB 
client = MongoClient( uri )

In [113]:
#Checando o Status
client.stats

Database(MongoClient(host=['cluster0-shard-00-02.3jmog.mongodb.net:27017', 'cluster0-shard-00-00.3jmog.mongodb.net:27017', 'cluster0-shard-00-01.3jmog.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-i8zzun-shard-0', tls=True), 'stats')

In [114]:
# Verificar o nome das database existentes
client.list_database_names()

['ProjetoIndividual', 'admin', 'local']

In [115]:
# Criando a data base
db = client["ProjetoIndividual"]

#Criando a coleção
collection = db["projetoindividualtratado"]

In [116]:
df_spark = df_spark.withColumn('Data_Inscrição_Cliente', F.col('Data_Inscrição_Cliente').cast(StringType()))

In [117]:
#Transformando para Pandas
df_teste = df_spark.toPandas()

In [118]:
dict_teste = df_teste.to_dict(orient = 'records')

In [ ]:
#collection.insert_many(dict_teste)